/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-300.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-300italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin_cyrillic-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-300italic.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-300italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-italic.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500italic.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700italic.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900italic.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

:root {
  --primary-black-color: #212121;
  --secondary-black-color: #757577;
  --button-color: #f5f4fa;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --main-trans-tm-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primary-black-color);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--blue-color);
}

.button--modal {
  padding: 10px 32px;
}

.button--submit {
  padding: 10px 56px;
  transition: background-color 250ms var(--main-trans-tm-func);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--submit:focus, .button--submit:hover {
  background-color: #188ce8;
}

.button--subscribe {
  /* position: relative; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* padding-right: 62px; */
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  /* position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%); */
}

.button-close {
  position: absolute;
  transition: fill 250ms var(--main-trans-tm-func);
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--icon-color);
  border-radius: 50%;
  background-color: var(--white-color);
}

.button-close:hover, .button-close:focus {
  fill: var(--blue-color);
}

.subtitle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social__list-item {
  width: 44px;
  height: 44px;
}

.social__list-link {
  transition: background-color 250ms var(--main-trans-tm-func), fill 250ms var(--main-trans-tm-func);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.social__list-link:hover, .social__list-link:focus {
  background-color: var(--blue-color);
  fill: var(--white-color);
}

.social__list-icon {
  width: 20px;
  height: 20px;
}

.social__list-item--margin:not(:last-child) {
  margin-right: 10px;
}

.social__list-link--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--head {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
}

.logo--left-color {
  color: var(--blue-color);
}

.logo--footer {
  color: var(--white-color);
}

.subscription {
  margin-left: auto;
  padding-top: 12px;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.subscription__form {
  display: flex;
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-adress-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
}

.filter {
  padding: 93px 0;
}

.filter__selector {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.filter__selector-item:not(:last-child) {
  margin-right: 8px;
}

.filter__selector-button {
  display: inline-block;
  transition: color 250ms var(--main-trans-tm-func), background-color 250ms var(--main-trans-tm-func), box-shadow 250ms var(--main-trans-tm-func);
  border-radius: 4px;
  border: none;
  min-width: auto;
  padding: 6px 22px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--button-color);
}

.filter__selector-button:focus,
.filter__selector-button:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.header_container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__list-logo-item {
  margin-right: 93px;
}

.nav__list-item:not(:last-child) {
  margin-right: 50px;
}

.nav__list-link {
  position: relative;
  transition: color 250ms var(--main-trans-tm-func);
  display: block;
  padding: 32px 0;
  text-decoration: none;
  color: var(--blue-color);
  overflow: hidden;
}

.nav__list-link::after {
  position: absolute;
  bottom: 0;
  transition: transform 250ms var(--main-trans-tm-func);
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
}

.nav__list-link:hover, .nav__list-link:focus {
  color: var(--blue-color);
}

.nav__list-link--visual {
  color: var(--primary-black-color);
}

.nav__list-link--visual::after {
  transform: translateY(100%);
}

.nav__list-link--visual:hover:after, .nav__list-link--visual:focus:after {
  transform: translateY(0%);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  list-style: none;
}

.contact__list-item:nth-child(1) {
  margin-right: 50px;
}

.contact__list-link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--main-trans-tm-func), fill 250ms var(--main-trans-tm-func);
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: var(--secondary-black-color);
}

.contact__list-link:hover, .contact__list-link:focus {
  color: var(--blue-color);
  fill: var(--blue-color);
}

.contact__list-icon {
  margin-right: 10px;
}

.order-service {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
  padding-bottom: 200px;
}

.order-service__container {
  text-align: center;
  padding-left: 252px;
  padding-right: 252px;
  padding-top: 200px;
}

.order-service__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
}

.advantage {
  padding: 94px 0;
}

.advantage__list {
  display: flex;
  list-style: none;
}

.advantage__list-item:not(:last-child) {
  margin-right: 30px;
}

.advantage__list-icon-box {
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--button-color);
}

.advantage__list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage__list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: var(--secondary-black-color);
}

.work {
  padding-bottom: 94px;
}

.work__list {
  display: flex;
  list-style: none;
}

.work__list-item {
  position: relative;
}

.work__list-item:not(:last-child) {
  margin-right: 30px;
}

.work__list-item .work__list-label {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}

.team {
  padding: 94px 0;
  background-color: var(--button-color);
}

.team__list {
  display: flex;
  list-style: none;
}

.team__list-staff-card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list-staff-card:not(:last-child) {
  margin-right: 30px;
}

.team__list-staff-card .team__list-staff-info {
  padding: 30px 32px;
  text-align: center;
}

.team__list-staff-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.03em;
}

.team__list-staff-function {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--secondary-black-color);
}

.regular-customers {
  padding: 94px 0;
}

.regular-customers__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.rugular-customers__list-item {
  width: 170px;
  height: 90px;
}

.regular-customers__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: border-color 250ms var(--main-trans-tm-func), fill 250ms var(--main-trans-tm-func);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
}

.regular-customers__list-link:hover, .regular-customers__list-link:focus {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

.project {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -15px;
}

.project__list-item {
  background: #ffffff;
  margin: 15px;
}

/* .project-view:not(:nth-child(3n)) {
  margin-right: 30px;
} */
/* .project-view:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
.project__list-link {
  transform: scale(1);
  transition: box-shadow 250ms var(--main-trans-tm-func), transform 250ms var(--main-trans-tm-func);
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
  outline: 1px solid #eeeeee;
  color: inherit;
}

.project__list-link:hover, .project__list-link:focus {
  transform: scale(1.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__list-link:hover .project__overlay,
.project__list-link:hover .project__overlay, .project__list-link:focus .project__overlay,
.project__list-link:focus .project__overlay {
  transform: translateY(0%) rotateZ(360deg);
}

.project__about {
  overflow: hidden;
  padding: 20px 20px;
}

.project__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-black-color);
}

.project__overlay-block {
  position: relative;
  overflow: hidden;
  max-width: 370px;
}

.project__overlay {
  position: absolute;
  transform: translateY(101%) rotateZ(180deg);
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms var(--main-trans-tm-func);
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
}

.address {
  margin-right: 70px;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address__list {
  list-style: none;
}

.address__list-logo-item {
  margin-bottom: 20px;
}

.address__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address__list-link {
  text-decoration: none;
  color: var(--footer-adress-color);
}

.address__list-link--color {
  color: var(--white-color);
}

.social-section {
  padding-top: 12px;
}

.social-section__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  transition: opacity 250ms var(--main-trans-tm-func);
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--main-trans-tm-func);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-color);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__label {
  width: 100%;
  margin-bottom: 10px;
}

.form__label--margin {
  margin-bottom: 20px;
}

.form__input-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--secondary-black-color);
}

.form__input-field {
  position: relative;
  display: block;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--secondary-black-color);
  transition: border-color 250ms var(--main-trans-tm-func);
}

.form__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input:focus, .form__input:not(:placeholder-shown) {
  border-color: var(--blue-color);
  outline: none;
}

.form__input:focus + .form__input-icon,
.form__input:focus + .form__input-icon, .form__input:not(:placeholder-shown) + .form__input-icon,
.form__input:not(:placeholder-shown) + .form__input-icon {
  fill: var(--blue-color);
}

.form__input:invalid:required {
  background-color: rgba(255, 0, 0, 0.2);
}

.form__input:invalid {
  background-color: rgba(255, 0, 0, 0.2);
}

.form__input--textaria {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form__input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms var(--main-trans-tm-func);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement__check-cust {
  width: 16px;
  height: 15px;
  background-image: url(../img/icon-off-check.svg);
  margin-right: 7px;
  /* border: 2px solid; */
  /* border-radius: 4px; */
}

.agreement__check:checked + .agreement__check-cust {
  background-image: url(../img/icon-check.svg);
  /* background-size: contain; */
  /* background-color: var(--blue-color); */
  /* border-color: var(--blue-color); */
  /* background-origin: border-box; */
}

.agreement__check:focus + .agreement__check-cust {
  box-shadow: 0 0 0 2px var(--blue-color);
}

.agreement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-black-color);
}

.agreement__text-link {
  color: var(--blue-color);
}
/*# sourceMappingURL=main.css.map */