.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.address {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.address__list {
  list-style: none;
  @media screen and (max-width: 1199px) {
    text-align: center;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-right: 165px;
  }
}
.address__list-logo-item {
  margin-bottom: 20px;
}
.address__list-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address__list-link {
  text-decoration: none;
  color: var(--footer-adress-color);
}
.address__list-link--color {
  color: var(--white-color);
}
.social-section {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.social-section__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
