.team {
  padding: 94px 0;
  background-color: var(--button-color);
}
.team__list {
  display: flex;
  list-style: none;
}
.team__list-staff-card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team__list-staff-card .team__list-staff-info {
  padding: 30px 32px;
  text-align: center;
}
.team__list-staff-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.03em;
}
.team__list-staff-function {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--secondary-black-color);
}
