.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;

  @media screen and (min-width: 1600px) {
    font-size: 26px;
  }

  &--head {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #000000;

    @media screen and (min-width: 768px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }

  &--left-color {
    color: var(--blue-color);
  }

  &--footer {
    color: var(--white-color);
  }
}
