.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;

  &--head {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #000000;
  }

  &--left-color {
    color: var(--blue-color);
  }

  &--footer {
    color: var(--white-color);
  }
}
