:root {
  --primary-black-color: #212121;
  --secondary-black-color: #757577;
  --button-color: #f5f4fa;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --main-trans-tm-func: cubic-bezier(0.4, 0, 0.2, 1);
}
